In [65]:
import csv
from faker import Faker
import pandas as pd
import json

In [5]:
output = open('myCSV.CSV', mode = 'w')

In [8]:
mywriter = csv.writer(output)

In [9]:
header = ['name', 'age']

In [10]:
mywriter.writerow(header)

10

In [11]:
data = ['Bob Smith', 40]

In [12]:
mywriter.writerow(data)
output.close()

In [13]:
cat mycsv.csv

# Generating Random & Fake 1000 CSV Records

In [59]:
# Create an instance of the Faker class
fake = Faker()

# Open a new CSV file for writing
output = open('fake_data.csv', 'w', newline='')

# Define the headers for the CSV file
header = ['Name', 'Age', 'Email', 'Phone', 'Street', 'Sity', 'State', 'Zip', 'Lon', 'Lat']

# Create a CSV writer object
mywriter = csv.writer(output)

# Write the headers to the CSV file
mywriter.writerow(header)

# Generate 1000 fake records and write them to the CSV file
for i in range(10000):
    mywriter.writerow([fake.name(), fake.random_int(min=18, max=80, step=1), 
                       fake.email(), fake.phone_number(),
                       fake.street_address(), fake.city(), fake.state_abbr(), fake.zipcode(), 
                       fake.longitude(), fake.latitude()])

# Close the CSV file
output.close()

In [61]:
with open('fake_data.csv') as f:
    myreader = csv.DictReader(f)
    headers = next(myreader)
    count = 0
    for row in myreader:
        if count < 10:
            print(row['Name'])
            count += 1
        else:
            break

Linda Richardson
Michelle Green
Joy Lopez
Charlotte Mason
Laura Hernandez
Barbara Hubbard
Lindsay Holland
Joseph Clark
Lindsay Hoffman
Ms. Kathy Beltran PhD

In [62]:
# Reading the fake files using pandas.
df = pd.read_csv('fake_data.csv')
df.head(10)

,Name,Age,Email,Phone,Street,Sity,State,Zip,Lon,Lat
0,Vincent Brown,21,bmorales@example.org,2271007326,640 Barnes Valleys Suite 254,New Anthony,PA,45312,-87.608121,-72.001186
1,Linda Richardson,73,amandaestrada@example.org,(510)211-9051,47236 Paul Path,Port George,ME,11944,-154.144008,57.444101
2,Michelle Green,54,ihenry@example.org,346.659.7589,40467 Duffy Mount Suite 269,Lake Melindaland,MT,91349,25.999242,26.798922
3,Joy Lopez,24,sgregory@example.org,+1-207-531-3425x6257,00830 Mark Parks,East Judymouth,VI,66509,64.461106,68.284060
4,Charlotte Mason,66,richardthomas@example.com,+1-873-579-2792x2863,7152 Anderson Expressway Suite 495,Michaelborough,NH,19716,-80.289553,23.531159
5,Laura Hernandez,55,johnbrooks@example.com,(945)657-2282,867 Hale Fields Apt. 377,Lisaport,GA,28447,131.603388,42.396495
6,Barbara Hubbard,63,lclark@example.com,001-594-893-6925x30991,73045 Ellison Knolls,West Cody,LA,95808,-35.072261,6.005253
7,Lindsay Holland,22,dianeaustin@example.net,001-468-494-1951x90912,606 Reed Gardens,Brocktown,HI,44568,-59.528288,73.027761
8,Joseph Clark,49,michaelvazquez@example.com,699-103-5900x68728,08171 Tanner Points,South Katrinachester,FM,34950,22.393716,37.014673
9,Lindsay Hoffman,43,sharon91@example.com,902.614.7876,88548 Simon Trafficway Apt. 061,Rodriguezstad,FL,19823,-12.815628,-0.778114

In [63]:
df.shape

(10000, 10)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10000 non-null  object
 1   Age     10000 non-null  int64
 2   Email   10000 non-null  object
 3   Phone   10000 non-null  object
 4   Street  10000 non-null  object
 5   Sity    10000 non-null  object
 6   State   10000 non-null  object
 7   Zip     10000 non-null  int64
 8   Lon     10000 non-null  float64
 9   Lat     10000 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 781.4+ KB

# Generating Random & Fake 1000 JSON Records

In [70]:
# Generate 10000 fake records and store them in a list of dictionaries
fake_data = []
for i in range(10000):
    fake_record = {
        'Name': fake.name(),
        'Age': fake.random_int(min=18, max=80, step=1),
        'Email': fake.email(),
        'Phone': fake.phone_number(),
        'Street': fake.street_address(),
        'City': fake.city(),
        'State': fake.state_abbr(),
        'Zip': fake.zipcode(),
       'Lng': str(fake.longitude()),
        'Lat': str(fake.latitude())
    }
    fake_data.append(fake_record)

In [71]:
# Open a new JSON file for writing
with open('fake_data.json', 'w') as f:
    json.dump(fake_data, f, indent = 4)

In [72]:
# Open the json file for reading
with open('fake_data.json', 'r') as f:
    data = json.load(f)
# Print the first 10 rows for the email records.
for row in data[:10]:
    print(row['Email'])

lhudson@example.net
jacquelinebrennan@example.com
gmckenzie@example.net
uboone@example.com
morgansoto@example.net
adamsaaron@example.net
malexander@example.org
ojenkins@example.net
howarddaniel@example.net
davidduarte@example.com

In [73]:
df = pd.read_json('fake_data.json')
df.head(10)

,Name,Age,Email,Phone,Street,City,State,Zip,Lng,Lat
0,Gerald Robinson,40,lhudson@example.net,4230663406,1623 Michelle View Suite 706,North Charles,WY,97807,-155.661868,-70.493771
1,Jeffrey Sims,20,jacquelinebrennan@example.com,327-385-2453x13391,321 Mariah Center,Lake Jamesville,NY,9237,-104.780148,3.465054
2,Kelli Williams,39,gmckenzie@example.net,838-972-2820x455,007 Travis Throughway,South John,AZ,30865,46.080645,-74.489291
3,Kyle Jones,26,uboone@example.com,001-257-943-4305x8862,87406 Charles Trail Suite 778,Adamsmouth,IA,94433,64.149508,-0.853549
4,Maria Collins,41,morgansoto@example.net,377-668-6543x35820,8458 Krista Gateway,Lake Patrick,HI,18645,117.334421,-25.468836
5,Kathy Williamson,71,adamsaaron@example.net,(573)117-0111x706,841 Daniel Squares Apt. 577,Chelseaburgh,MO,83049,-114.662537,69.188851
6,Steven Watkins,54,malexander@example.org,(160)568-1041x95567,769 Janet Cape Suite 661,West Brian,AK,7984,-103.404223,48.325676
7,Christine Lewis,68,ojenkins@example.net,+1-868-828-9097x3610,735 Gregory Hill Apt. 121,South Barbarachester,NH,49253,71.717514,13.881720
8,Justin Fuller,48,howarddaniel@example.net,819.558.5824x345,688 Hector Ways,Port Rebecca,MO,38020,-30.286671,75.327608
9,Jerry Jones,38,davidduarte@example.com,+1-442-006-1379x54008,417 Rodriguez Lock Suite 026,West Stephen,AZ,23559,42.443270,-7.976802

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10000 non-null  object
 1   Age     10000 non-null  int64
 2   Email   10000 non-null  object
 3   Phone   10000 non-null  object
 4   Street  10000 non-null  object
 5   City    10000 non-null  object
 6   State   10000 non-null  object
 7   Zip     10000 non-null  int64
 8   Lng     10000 non-null  float64
 9   Lat     10000 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 781.4+ KB

# Building Data Pipeline In Apache Airflow

In [76]:
import datetime as dt
from datetime import timedelta

from airflow import DAG
from airflow.operators.bash_operator import BashOperator
from airflow.operators.python_operator import PythonOperator

In [77]:
# Building a CSV to JSON Data Pipeline
def CSVToJSON():
    df = pd.read_csv('fake_data.csv')
    for i, r in df.iterrows():
        print(r['Name'])
    df.to_JSON('fromAirflow.JSON', orient = 'records')

The code above reads data from a CSV file ('fake_data.csv') using pandas, iterates over each row of the CSV file, and prints the 'Name' column of the row. It then converts the CSV data to JSON format and saves it to a file called 'fromAirflow.JSON'.

In [78]:
# Implementing the Airflow by assigning arguments
default_args = {
    'owner': 'Benito Ywani',
    'start_date': dt.datetime(2023, 4, 3),
    'retries': 1,
    'retry_delay': dt.timedelta(minutes = 5)
}

This code block is defining the default arguments for an Airflow DAG (Directed Acyclic Graph).

- 'owner': 'Benito Ywani': This argument sets the owner of the DAG, which is useful for identifying who created and maintains the DAG.

- 'start_date': dt.datetime(2023, 4, 3): This argument sets the start date of the DAG. The DAG will not execute until this start date is reached.

- 'retries': 1: This argument specifies the number of retries that should be attempted in case of a failed task.

- 'retry_delay': dt.timedelta(minutes=5): This argument specifies the time delay between each retry attempt.

These arguments are set in a Python dictionary format, with the keys being the argument names and the values being the argument values.

NOTE: These are just default arguments and can be overridden when creating individual tasks in the DAG.

In [80]:
with DAG('MyCSVDAG',
        default_args = default_args,
        schedule_interval = timedelta(minutes = 5),
        # '0 * * * *',
        ) as dag:
    print_starting = BashOperator(task_id = 'starting',
                                 bash_command = 'echo "I am reading the CSV now...."')
    CSVJson = PythonOperator(task_id = 'convertCSVToJson',
                            python_callable = CSVToJSON)

The code above creates an Airflow DAG object named "MyCSVDAG" with the given default arguments and a schedule interval of 5 minutes. The DAG object is defined using a "with" statement that ensures the DAG is properly closed after execution.

Within the DAG, two tasks are defined using the BashOperator and PythonOperator classes. The first task, with a task ID of "starting", simply prints a message to the console. The second task, with a task ID of "convertCSVToJson", is a PythonOperator that calls the function CSVToJSON.

Overall, this DAG is designed to periodically convert a CSV file to a JSON format using Airflow's task scheduling and execution capabilities.

In [86]:
print_starting.set_downstream(CSVJson)

In [88]:
CSVJson.set_upstream(print_starting)

In [89]:
print_starting >> CSVJson

In [90]:
CSVJson << print_starting