In [1]:
import csv
from faker import Faker
import pandas as pd
import json

In [2]:
output = open('myCSV.CSV', mode = 'w')

In [3]:
mywriter = csv.writer(output)

In [4]:
header = ['name', 'age']

In [5]:
mywriter.writerow(header)

10

In [6]:
data = ['Bob Smith', 40]

In [7]:
mywriter.writerow(data)
output.close()

In [8]:
cat mycsv.csv

# Generating Random & Fake 1000 CSV Records

In [9]:
# Create an instance of the Faker class
fake = Faker()

# Open a new CSV file for writing
output = open('fake_data.csv', 'w', newline='')

# Define the headers for the CSV file
header = ['Name', 'Age', 'Email', 'Phone', 'Street', 'Sity', 'State', 'Zip', 'Lon', 'Lat']

# Create a CSV writer object
mywriter = csv.writer(output)

# Write the headers to the CSV file
mywriter.writerow(header)

# Generate 1000 fake records and write them to the CSV file
for i in range(1000):
    mywriter.writerow([fake.name(), fake.random_int(min=18, max=80, step=1), 
                       fake.email(), fake.phone_number(),
                       fake.street_address(), fake.city(), fake.state_abbr(), fake.zipcode(), 
                       fake.longitude(), fake.latitude()])

# Close the CSV file
output.close()

In [10]:
with open('fake_data.csv') as f:
    myreader = csv.DictReader(f)
    headers = next(myreader)
    count = 0
    for row in myreader:
        if count < 10:
            print(row['Name'])
            count += 1
        else:
            break

Chelsea Garcia
Christine Ware
Donald Fowler
Samuel Long
George James
Pamela Duran
David Benson
Oscar Ball
Derrick Thompson
Mrs. Heidi Smith

In [11]:
# Reading the fake files using pandas.
df = pd.read_csv('fake_data.csv')
df.head(10)

,Name,Age,Email,Phone,Street,Sity,State,Zip,Lon,Lat
0,Kimberly Webb,42,paul36@example.net,001-492-929-8371x1574,54753 Hart Extension,Ericbury,NV,28447,127.546450,13.690846
1,Chelsea Garcia,60,andersonbrian@example.com,963-671-6857x2100,8853 Larry Haven Apt. 428,Matthewside,CA,32175,-33.868308,-55.915134
2,Christine Ware,60,robertduran@example.com,+1-489-830-8549x214,3475 Jeffrey Landing,Millerfurt,MT,18075,-118.137921,-52.019292
3,Donald Fowler,49,emilybaxter@example.com,001-895-106-7963,64757 Cox Springs Apt. 251,North Nicholasburgh,CO,60815,-55.151826,71.101234
4,Samuel Long,23,jessicasmith@example.org,+1-488-050-8202,8311 Rodriguez Drive Apt. 349,Lake Sara,NY,27112,-90.543506,86.396482
5,George James,65,glennjonathan@example.com,(769)165-2183,866 Lester Neck Suite 228,East Jennytown,UT,65327,126.720577,78.158254
6,Pamela Duran,31,jamescooper@example.com,234-582-5335,034 Valerie Inlet,West Bryan,MA,63385,132.883831,-72.624293
7,David Benson,25,hjohnson@example.com,001-614-422-8146x672,0105 Garcia Greens,Lake Jessicaberg,IA,54537,162.445856,-79.379829
8,Oscar Ball,37,sherylrodriguez@example.net,(245)035-9833x15221,67758 Rodriguez Pines Suite 297,Lake Wendy,ME,21941,121.055983,68.329556
9,Derrick Thompson,68,rodriguezbilly@example.org,(933)518-7794x99732,6253 Cain Brook Suite 237,Hernandezberg,UT,51983,171.479702,13.320085

In [12]:
df.shape

(1000, 10)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    1000 non-null   object
 1   Age     1000 non-null   int64
 2   Email   1000 non-null   object
 3   Phone   1000 non-null   object
 4   Street  1000 non-null   object
 5   Sity    1000 non-null   object
 6   State   1000 non-null   object
 7   Zip     1000 non-null   int64
 8   Lon     1000 non-null   float64
 9   Lat     1000 non-null   float64
dtypes: float64(2), int64(2), object(6)
memory usage: 78.2+ KB

# Generating Random & Fake 1000 JSON Records

In [14]:
# Generate 1000 fake records and store them in a list of dictionaries
fake_data = []
for i in range(1000):
    fake_record = {
        'Name': fake.name(),
        'Age': fake.random_int(min=18, max=80, step=1),
        'Email': fake.email(),
        'Phone': fake.phone_number(),
        'Street': fake.street_address(),
        'City': fake.city(),
        'State': fake.state_abbr(),
        'Zip': fake.zipcode(),
       'Lng': str(fake.longitude()),
        'Lat': str(fake.latitude())
    }
    fake_data.append(fake_record)

In [15]:
# Open a new JSON file for writing
with open('fake_data.json', 'w') as f:
    json.dump(fake_data, f, indent = 4)

In [16]:
# Open the json file for reading
with open('fake_data.json', 'r') as f:
    data = json.load(f)
# Print the first 10 rows for the email records.
for row in data[:10]:
    print(row['Email'])

mvasquez@example.org
mark62@example.org
yjenkins@example.net
yhoward@example.org
kellybruce@example.net
lcooper@example.com
oconnorconnie@example.org
elizabethstone@example.org
johnmichael@example.net
kylehill@example.com

In [17]:
df = pd.read_json('fake_data.json')
df.head(10)

,Name,Age,Email,Phone,Street,City,State,Zip,Lng,Lat
0,Gabriela Baker,42,mvasquez@example.org,801.694.4378,764 Ethan Throughway Suite 183,Samanthastad,SC,91728,125.469724,-12.282770
1,James Wells,25,mark62@example.org,794-878-2692x3740,484 Christopher Street,Jorgefort,WY,56167,-143.632710,-72.013013
2,Cynthia Ortega,39,yjenkins@example.net,(545)546-3033x5442,35079 Wells Mills,Jesseberg,FM,93175,-158.882142,-26.584910
3,Scott Martinez,47,yhoward@example.org,(189)610-1171x67702,884 Alexander Trail Apt. 603,Garciachester,SD,88726,-147.341731,-87.286034
4,Thomas Pham,60,kellybruce@example.net,346.703.8071,3700 Brown Squares,Lake Ashley,MP,82286,-83.984070,50.991733
5,Thomas Sandoval,31,lcooper@example.com,001-806-425-2244x594,74037 Banks Extensions,Johnbury,LA,52524,-150.097645,-30.878242
6,Kathy Dixon,31,oconnorconnie@example.org,+1-105-760-8339,442 Stewart Viaduct,Deborahberg,TN,32689,-90.671109,-25.673032
7,Jose Wade,75,elizabethstone@example.org,001-633-479-0908x8704,4518 Lee Corner Apt. 887,Katrinaview,MO,6484,152.443355,76.037283
8,Kendra Hurley,39,johnmichael@example.net,612-910-7391,1412 Christopher Wall Apt. 726,Mullenfurt,NY,12656,14.870209,56.406968
9,Alexander Barber,67,kylehill@example.com,261-485-2587x06822,541 Terri Radial,Lake Kenneth,MO,17193,-38.376143,37.114747

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    1000 non-null   object
 1   Age     1000 non-null   int64
 2   Email   1000 non-null   object
 3   Phone   1000 non-null   object
 4   Street  1000 non-null   object
 5   City    1000 non-null   object
 6   State   1000 non-null   object
 7   Zip     1000 non-null   int64
 8   Lng     1000 non-null   float64
 9   Lat     1000 non-null   float64
dtypes: float64(2), int64(2), object(6)
memory usage: 78.2+ KB

# Building Data Pipeline In Apache Airflow

In [20]:
import datetime as dt
from datetime import timedelta

from airflow import DAG
from airflow.operators.bash_operator import BashOperator
from airflow.operators.python_operator import PythonOperator

In [21]:
# Building a CSV to JSON Data Pipeline
def CSVToJSON():
    df = pd.read_csv('fake_data.csv')
    for i, r in df.iterrows():
        print(r['Name'])
    df.to_JSON('fromAirflow.JSON', orient = 'records')

The code above reads data from a CSV file ('fake_data.csv') using pandas, iterates over each row of the CSV file, and prints the 'Name' column of the row. It then converts the CSV data to JSON format and saves it to a file called 'fromAirflow.JSON'.

In [22]:
# Implementing the Airflow by assigning arguments
default_args = {
    'owner': 'Benito Ywani',
    'start_date': dt.datetime(2023, 4, 3),
    'retries': 1,
    'retry_delay': dt.timedelta(minutes = 5)
}

This code block is defining the default arguments for an Airflow DAG (Directed Acyclic Graph).

- 'owner': 'Benito Ywani': This argument sets the owner of the DAG, which is useful for identifying who created and maintains the DAG.

- 'start_date': dt.datetime(2023, 4, 3): This argument sets the start date of the DAG. The DAG will not execute until this start date is reached.

- 'retries': 1: This argument specifies the number of retries that should be attempted in case of a failed task.

- 'retry_delay': dt.timedelta(minutes=5): This argument specifies the time delay between each retry attempt.

These arguments are set in a Python dictionary format, with the keys being the argument names and the values being the argument values.

NOTE: These are just default arguments and can be overridden when creating individual tasks in the DAG.

In [23]:
with DAG('MyCSVDAG',
        default_args = default_args,
        schedule_interval = timedelta(minutes = 5),
        # '0 * * * *',
        ) as dag:
    print_starting = BashOperator(task_id = 'starting',
                                 bash_command = 'echo "I am reading the CSV now...."')
    CSVJson = PythonOperator(task_id = 'convertCSVToJson',
                            python_callable = CSVToJSON)

The code above creates an Airflow DAG object named "MyCSVDAG" with the given default arguments and a schedule interval of 5 minutes. The DAG object is defined using a "with" statement that ensures the DAG is properly closed after execution.

Within the DAG, two tasks are defined using the BashOperator and PythonOperator classes. The first task, with a task ID of "starting", simply prints a message to the console. The second task, with a task ID of "convertCSVToJson", is a PythonOperator that calls the function CSVToJSON.

Overall, this DAG is designed to periodically convert a CSV file to a JSON format using Airflow's task scheduling and execution capabilities.

In [24]:
print_starting.set_downstream(CSVJson)

In [25]:
CSVJson.set_upstream(print_starting)

In [26]:
print_starting >> CSVJson

In [27]:
CSVJson << print_starting